<!--Use function to show page title in title bar-->
<!--function file locate at app/view/layout/application.html.erb-->
<% provide(:title, "Home") %>
<center>
	<h1>Welcome to E-Learning System</h1>
	<div>
  	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
	</div>
</center>
