<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<!--set up some style to the form-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--create form user sign up-->
    <%= form_for(@user) do |f| %>
      <!--load file at app/view/users._field for user sign up form-->
      <%=render 'fields',f: f%>  
      <!--add submit button into user sign up form-->
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>