<!--show the title bar -->
<% provide(:title, "Word List") %>
	<div class = "">
		<!--load form filter at current location-->
		<%= render "form_filter" %>
	</div>	
<div class = ""%>
	<!--load form filter at current location-->
	<%= render "word_list" %>
</div>