<% provide(:title, "Edit StaticPages About") %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">    
     <h1 class="account_info">Update Static Pages About</h1>
      <%=  form_tag admin_about_path,:method=>"get" do %>            
        <%= label_tag :about %>
        <%= text_area_tag :about, "#{@static_page.about unless @static_page.nil?}",class: "form-control field_info" %>
        <%= submit_tag"Save changes", class: "btn btn-primary btn_commit" %>
      <% end %>    
    </div>      
  </div>