<% provide(:title, "Edit StaticPages Contact") %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">    
     <h1 class="account_info">Update Static Pages Contact</h1>
      <%=  form_tag admin_contact_path,:method=>"get" do %>            
        <%= label_tag :contact %>
        <%= text_area_tag :contact, "#{@static_page.contact unless @static_page.nil?}",class: "form-control field_info" %>
        <%= submit_tag"Save changes", class: "btn btn-primary btn_commit" %>
      <% end %>    
    </div>      
  </div>