<footer class="footer">
  <small>
    This App is power by Rathanak Jame 007
  </small>
    <nav>
      <ul>
      	<li><%= link_to "About",   about_path %></li>
      	<li><%= link_to "Contact", contact_path %></li>
      </ul>
  	</nav>
</footer>